<% provide(:title, 'All experience') %>
<h1><%= @user.name %> experience</h1>

<div class="hero-unit">
  <% if @user.experiences.count==0 %>
      <h3>Add experience to <%= @user.name %> </h3>
  <% end %>
  <% if @user.experiences.any? %>
    <ol class="experience">
      <table>
        <tr> 
          <th>Year</b></th>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
          <th>Framework</th>
          <th>Tools</th>
          <th></th>
        </tr>
    
        <% @experiences.each do |experience| %>
          <tr>
            <td><%= experience.year %></td>
            <td><%= experience.name %></td>
            <td><%= experience.type_experience %></td>
            <td><%= experience.desc %></td>
            <td><%= experience.framework %></td>
            <td><%= experience.tools %></td>
            <td><%= link_to 'Details', user_experience_path(@user, experience) %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @experiences %>
    </ol>
  <% end %>
  
  <p> </p>
  <p>
    <%= link_to 'Send the summary of the experience by email', summary_user_experiences_path(@user) %>    
  </p>

  <% if current_user.admin? || current_user?(@user) %>
    <li class="center" style="font-size: 1.2em">
      <%= link_to 'Add new experience', new_user_experience_path(@user) %>    
    </li>
  <% end %>

  <li class="center" style="font-size: 1.2em">
    <%= link_to 'Go to User', user_path(@user) %> |
    <%= link_to 'Go to users list', users_path %> 
  </li>

      
</div>
