<% provide(:title, 'Show experience') %>
<h1>show experience of <%= @user.name%></h1>

<div class="row hero-unit">
    <aside class="span6 offset3">
      <p><b>Name:</b> <%= @experience.name %></p>
      <p><b>Year:</b> <%= @experience.year%></p>
      <p><b>Type:</b> <%= @experience.type_experience%></p>
      <p><b>Desc.:</b> <%= @experience.desc%></p>
      <p><b>Link:</b>  <%= link_to @experience.name, @experience.link, :target => 'blank' %>    
      <p><b>Framework:</b> <%= @experience.framework%></p>
      <p><b>Tools:</b> <%= @experience.tools%></p>
      <p><b>+ Info:</b> <%= @experience.info%></p>
      
      <li style="font-size: 1.2em">
        <%= link_to 'Back to experience list', user_experiences_path(@user) %>   
      </li>
      
      <% if current_user.admin? || current_user?(@user) %>
        <li style="font-size: 1.2em">
          <%= link_to 'Edit experience', edit_user_experience_path(@user, @experience) %>  |
          <%= link_to 'Remove experience', user_experience_path(@user, @experience), :confirm => 'Are you sure?', :method => :delete %>
        </li>
      <% end %>
    </aside>
</div>
 